body {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 600px;
    margin: auto;
    padding: 5px;
    margin-left: 450px;
    background-color: rgb(221, 218, 227);

}

#centre{
  margin-left: 213px;
  width: 500px;
  height: auto;
}

h1{
  color:black;
  background-color: silver;
  border-radius: 20px;
  margin-left: 320px;
  text-align: center;
  padding: 2px;
  align-content:space-evenly;
  border: 2px solid transparent;
  
}

#guest-name{
  background-color:rgb(71, 104, 110);
  color: black;
  border-radius: 30px;
  text-align: center;
  padding: 10px;
  
}

#guest-category{
    background-color:rgb(71, 111, 113);
  color: black;
  border-radius: 30px;
  text-align: center;
  padding: 10px;
}

#submit{
   background-color:rgb(91, 147, 145);
  color: black;
  border-radius: 30px;
  text-align: center;
  padding: 10px;
}

form {
    margin-bottom:20px;

}

li {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border-bottom: 2px solid #ccc;
}

.category-tag {
  padding: 3px 8px;
  border-radius: 12px;
  font-size: 0.8em;
  color: white;
  margin-left: 10px;
}
.friend {
  background-color: #50a553;
}
.family {
  background-color: #2196F3;
}
.colleague {
  background-color: #374e87;
}
